{% extends "layout.html" %}
{% block title %}{{admin.name}}{% endblock %}
{% block select %}
<select class="form-select mx-1" aria-label="Default select example" name="key">
    <option selected>Select</option>
    <option value="quizzes">Quizzes</option>
    <option value="questions">Questions</option>
</select>
{% endblock %}
{% block action %}
<a href="/logout" class="btn btn-outline-danger me-2" role="button" aria-disabled="true">Logout</a>
{% endblock %}
{% block body %}
<div class="d-flex">
    <!-- Sidebar for Admin Quizzes page-->
    <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-light border-end vh-100 position-fixed"
        style="width: 250px; transition: 0.3s;">
        <button id="toggleBtn" class="btn btn-outline-info mb-3"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);">
                <path d="m8.121 12 4.94-4.939-2.122-2.122L3.879 12l7.06 7.061 2.122-2.122z"></path>
                <path d="M17.939 4.939 10.879 12l7.06 7.061 2.122-2.122L15.121 12l4.94-4.939z"></path>
            </svg></button>

        <ul class="nav flex-column">
            <li class="nav-item">
            <li class="nav-item">
                <a href="#" class="nav-link text-dark d-flex align-items-center" data-bs-toggle="tooltip"
                    title="{{admin.name}}" data-bs-placement="right">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        style="fill: rgba(0, 0, 0, 1);">
                        <path
                            d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z">
                        </path>
                    </svg><span class="menu-text ms-2">{{admin.name}}</span>
                </a>
            </li>
            <!-- button for triggering add subject modal -->
            <li class="nav-item">
                <button type="button" class="btn btn-light m-0" data-bs-toggle="modal" data-bs-target="#addQuizModal"
                    data-bs-toggle="tooltip" title="Add Quiz" data-bs-placement="right">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        style="fill: rgba(0, 0, 0, 1);">
                        <path
                            d="M20 3H4c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2zm-1 4v2h-5V7h5zm-5 4h5v2h-5v-2zM4 19V5h7v14H4z">
                        </path>
                    </svg><span class="menu-text ms-2">Add Quiz</span></button>
            </li>
            <li class="nav-item">
                <a href="/manageUsers" class="nav-link text-dark d-flex align-items-center" data-bs-toggle="tooltip"
                    title="Manage Users" data-bs-placement="right">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        style="fill: rgba(8, 8, 8, 1);">
                        <path
                            d="M15 11h7v2h-7zm1 4h6v2h-6zm-2-8h8v2h-8zM4 19h10v-1c0-2.757-2.243-5-5-5H7c-2.757 0-5 2.243-5 5v1h2zm4-7c1.995 0 3.5-1.505 3.5-3.5S9.995 5 8 5 4.5 6.505 4.5 8.5 6.005 12 8 12z">
                        </path>
                    </svg> <span class="menu-text ms-2">Manage Users</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/subjects" class="nav-link text-dark d-flex align-items-center" data-bs-toggle="tooltip"
                    title="Back to Subject Page" data-bs-placement="right">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        style="fill: rgba(8, 8, 8, 1);">
                        <path d="m8.121 12 4.94-4.939-2.122-2.122L3.879 12l7.06 7.061 2.122-2.122z"></path>
                        <path d="M17.939 4.939 10.879 12l7.06 7.061 2.122-2.122L15.121 12l4.94-4.939z"></path>
                    </svg><span class="menu-text ms-2 btn-outline-danger">Back to Subject Page</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/dashboard" class="nav-link text-dark d-flex align-items-center" data-bs-toggle="tooltip"
                    title="Back to Dashboard" data-bs-placement="right">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        style="fill: rgba(8, 8, 8, 1);">
                        <path d="m8.121 12 4.94-4.939-2.122-2.122L3.879 12l7.06 7.061 2.122-2.122z"></path>
                        <path d="M17.939 4.939 10.879 12l7.06 7.061 2.122-2.122L15.121 12l4.94-4.939z"></path>
                    </svg><span class="menu-text ms-2 btn-outline-danger">Back to Dashboard</span>
                </a>
            </li>
            <li class="nav-item sticky-bottom">
                <a href="/logout" class="nav-link text-danger d-flex align-items-center" data-bs-toggle="tooltip"
                    title="Logout" data-bs-placement="right">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        style="fill: rgba(237, 66, 26, 1);transform: rotate(180deg);">
                        <path
                            d="M5.002 21h14c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2h-14c-1.103 0-2 .897-2 2v6.001H10V7l6 5-6 5v-3.999H3.002V19c0 1.103.897 2 2 2z">
                        </path>
                    </svg>
                    <span class="menu-text ms-2 btn-outline-danger">Logout</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Main Content of the Admin Quizzes page -->
    <div id="mainContent" class="flex-grow-1 p-4" style="margin-left: 250px; transition: 0.3s;">
        <div class="content w-100 mb-3 row ">
            <h3 class="col"><strong>Subject Name:-</strong> {{subject.name}}</h3>
            <h4 class="col"><strong>Chapter Name:-</strong> {{chapter.name}}</h4>
        </div>
        <div class="content w-100">
            <div class="row g-3 justify-content-center">
                <!--Loop for Quiz card-->
                {% if chapter.quizzes|length == 0 %}
                <p class="text-center text-muted">No quizzes available. Click <strong>"Add Quiz"</strong> to create one.
                </p>
                {% endif %}
                {% for quiz in quizzes %}
                <div class="col-md-6">
                    <div class="card shadow" style="width: 100%;">
                        <div class="card-body">
                            <div class="row">
                                <h5 class="card-title col-md-9"><span class="fw-bold">Quiz Name: </span>{{ quiz.name }}
                                </h5>
                                <button type="button" class="btn btn-outline-info mx-auto addQuesBtn col-md-3"
                                    data-bs-toggle="modal" data-bs-target="#addQuesModal" quizId="{{ quiz.id }}"
                                    quizName="{{ quiz.name }}">
                                    Add Question
                                </button>
                            </div>
                            <div class="row">
                                <p class="col"><span class="fw-bold">Date: </span>{{ quiz.date.strftime('%Y-%m-%d %I:%M
                                    %p') }}</p>
                                <p class="col"><span class="fw-bold">Duration: </span>{{ quiz.duration }} minutes</p>
                            </div>
                            <p class="card-text">{{ quiz.desc }}</p>

                            <div style="max-height: 250px; min-height: 250px; overflow-y: auto;">
                                {% if quiz.questions|length == 0 %}
                                <p class="text-center text-muted">No questions available. Click <strong>"Add
                                        Question"</strong> to create one.</p>
                                {% else %}
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="width: 5%;">S.No.</th>
                                            <th scope="col" style="width: 55%;">Question Title</th>
                                            <th scope="col" style="width: 40%;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for ques in quiz.questions %}
                                        <tr>
                                            <th scope="row">{{ loop.index }}</th>
                                            <td>{{ ques.title }}</td>
                                            <td>
                                                <div class="row">
                                                    <!-- Edit/View Question Button -->
                                                    <button class="btn btn-outline-dark col editQuesBtn"
                                                        data-bs-toggle="modal" data-bs-target="#editQuesModal"
                                                        editQuesId="{{ ques.id }}" editQuesQuizName="{{ quiz.name }}"
                                                        editTitle="{{ ques.title }}"
                                                        editStatement="{{ ques.statement }}"
                                                        editOption1="{{ ques.option1 }}"
                                                        editOption2="{{ ques.option2 }}"
                                                        editOption3="{{ ques.option3 }}"
                                                        editOption4="{{ ques.option4 }}"
                                                        editCorrectoption="{{ ques.correctOption }}">
                                                        Edit/View
                                                    </button>
                                                    <!-- Delete Question Button -->
                                                    <form action="/{{ subject.id }}/{{ chapter.id }}/deleteQuestion"
                                                        method="POST" class="col"
                                                        onsubmit="return confirm('Do you want to delete this question? This will delete all related data scores, etc.');">
                                                        <input type="hidden" name="id" value="{{ ques.id }}">
                                                        <button type="submit"
                                                            class="btn btn-outline-danger col">Delete</button>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% endif %}
                            </div>

                            <div class="row m-1">
                                <!-- Delete Quiz Button -->
                                <form action="/{{ subject.id }}/{{ chapter.id }}/deleteQuiz" method="POST" class="col"
                                    onsubmit="return confirm('Do you want to delete this quiz? This will delete all related data questions, scores, etc.');">
                                    <input type="hidden" name="id" value="{{ quiz.id }}">
                                    <button type="submit" class="btn btn-outline-danger w-100 m-2 col">Delete</button>
                                </form>
                                <!-- Edit Quiz Button -->
                                <button class="btn btn-outline-dark w-100 m-2 col editQuizBtn" data-bs-toggle="modal"
                                    data-bs-target="#editQuizModal" editQuizId="{{ quiz.id }}"
                                    editQuizName="{{ quiz.name }}" editQuizDate="{{ quiz.date }}"
                                    editQuizDuration="{{ quiz.duration }}" editQuizDesc="{{ quiz.desc }}">
                                    Edit Quiz
                                </button>
                                <!-- Add Question Button -->
                                <button type="button" class="btn btn-outline-info w-100 m-2 col addQuesBtn"
                                    data-bs-toggle="modal" data-bs-target="#addQuesModal" quizId="{{ quiz.id }}"
                                    quizName="{{ quiz.name }}">
                                    Add Question
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <!-- Modal Form for Adding Quizzes -->
    <div class="modal fade" id="addQuizModal" tabindex="-1" aria-labelledby="addQuizModalLabel" aria-hidden="true"
        data-bs-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title fs-5" id="addQuizModalLabel">New Quiz</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mx-4">
                    <div class="row">
                        <p class="col fw-bold"> Subject Name:- {{subject.name}}</p>
                        <p class="col fw-bold"> Chapter Name:- {{chapter.name}}</p>
                    </div>
                    <form class="m-2" id="addQuizForm" action="/{{ subject.id }}/{{chapter.id}}/addQuiz" method="POST">
                        <label for="name">Quiz Name:</label>
                        <input type="text" id="name" name="name" required class="form-control">
                        <br>
                        <label for="date">Date of the Quiz:</label>
                        <input type="datetime-local" id="date" name="date" required class="form-control">
                        <br>
                        <label for="duration">Duration of the Quiz (Minutes):</label>
                        <input type="number" id="duration" name="duration" required class="form-control" min="1"
                            max="180">
                        <br>
                        <label for="desc">Description:</label>
                        <input type="text" id="desc" name="desc" required class="form-control">
                        <br>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-success" form="addQuizForm">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Form for Editing Quizzes -->
    <div class="modal fade" id="editQuizModal" tabindex="-1" aria-labelledby="editQuizModalLabel" aria-hidden="true"
        data-bs-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title fs-5" id="editQuizModalLabel">Edit Quiz</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mx-4">
                    <div class="row">
                        <p class="col fw-bold"> Subject Name:- {{subject.name}}</p>
                        <p class="col fw-bold"> Chapter Name:- {{chapter.name}}</p>
                    </div>
                    <form id="editQuizForm" action="/{{ subject.id }}/{{chapter.id}}/editQuiz" method="POST">
                        <input type="hidden" id="editQuizId" name="id">
                        <label for="name">Quiz Name:</label>
                        <input type="text" id="editQuizName" name="name" required class="form-control">
                        <br>
                        <label for="date">Date of the Quiz:</label>
                        <input type="datetime-local" id="editQuizDate" name="date" required class="form-control">
                        <br>
                        <label for="duration">Duration of the Quiz (Minutes):</label>
                        <input type="number" id="editQuizDuration" name="duration" required class="form-control" min="1"
                            max="180">
                        <br>
                        <label for="desc">Description:</label>
                        <input type="text" id="editQuizDesc" name="desc" required class="form-control">
                        <br>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-success" form="editQuizForm">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Form for Adding Questions -->
    <div class="modal fade" id="addQuesModal" tabindex="-1" aria-labelledby="addQuesModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content mx-4">
                <div class="modal-header">
                    <h3 class="modal-title fs-5" id="addQuesModalLabel">New Question</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mx-4">
                    <div class="row">
                        <p class="col fw-bold"> Subject Name:- {{subject.name}}</p>
                        <p class="col fw-bold"> Chapter Name:- {{chapter.name}}</p>
                    </div>
                    <p class="fw-bold d-flex justify-content-center" id="quizName"></p>
                    <form id="addQuesForm" action="/{{ subject.id }}/{{chapter.id}}/addQuestion" method="POST">
                        <input type="hidden" name="quizId" id="quizId" />
                        <label for="title">Question Title:</label>
                        <input type="text" id="title" name="title" required class="form-control" />
                        <br />
                        <label for="statement"> Question Statement:</label>
                        <input type="text" id="statement" name="statement" required class="form-control" />
                        <br />
                        <div class="d-flex flex-column rounded mx-4">
                            <label for="option1">Option 1:</label>
                            <input type="text" id="option1" name="option1" required class="form-control" />
                            <br />
                            <label for="option2">Option 2:</label>
                            <input type="text" id="option2" name="option2" required class="form-control" />
                            <br />
                            <label for="option3">Option 3:</label>
                            <input type="text" id="option3" name="option3" required class="form-control" />
                            <br />
                            <label for="option4">Option 4:</label>
                            <input type="text" id="option4" name="option4" required class="form-control" />
                            <br />
                            <label for="correctOption">Correct Option:</label>
                            <input type="number" id="correctOption" name="correctOption" required class="form-control"
                                min="1" max="4" />
                            <br />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-success" form="addQuesForm">Save
                        changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Form for Editing Questions -->
    <div class="modal fade" id="editQuesModal" tabindex="-1" aria-labelledby="editQuesModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content mx-4">
                <div class="modal-header">
                    <h3 class="modal-title fs-5" id="editQuesModalLabel">Edit Question</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mx-4">
                    <div class="row">
                        <p class="col fw-bold"> Subject Name:- {{subject.name}}</p>
                        <p class="col fw-bold"> Chapter Name:- {{chapter.name}}</p>
                    </div>
                    <p class="fw-bold d-flex justify-content-center" id="editQuesQuizName"></p>
                    <form id="editQuesForm" action="/{{ subject.id }}/{{chapter.id}}/editQuestion" method="POST">
                        <input type="hidden" name="id" id="editQuesId" />
                        <label for="editTitle">Question Title:</label>
                        <input type="text" id="editTitle" name="title" required class="form-control" />
                        <br />
                        <label for="editStatement"> Question Statement:</label>
                        <input type="text" id="editStatement" name="statement" required class="form-control" />
                        <br />
                        <div class="d-flex flex-column rounded mx-4">
                            <label for="editOption1">Option A:</label>
                            <input type="text" id="editOption1" name="option1" required class="form-control" />
                            <br />
                            <label for="editOption2">Option B:</label>
                            <input type="text" id="editOption2" name="option2" required class="form-control" />
                            <br />
                            <label for="editOption3">Option C:</label>
                            <input type="text" id="editOption3" name="option3" required class="form-control" />
                            <br />
                            <label for="editOption4">Option D:</label>
                            <input type="text" id="editOption4" name="option4" required class="form-control" />
                            <br />
                            <label for="editCorrectOption">Correct Option:</label>
                            <input type="number" id="editCorrectOption" name="correctOption" required
                                class="form-control" min="1" max="4" />
                            <br />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-success" form="editQuesForm">Save
                        changes</button>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}